.btn-green {
    background-color: #02a8a8;
    padding: 10px 15px;
    border-radius: 4px;
    color: white;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}

.btn-green,a {
    text-decoration: none;
}

.btn-green:hover {
    background-color: #018383;
    cursor: pointer;
}